.container_case {
  display: flex;
  position: relative;
  top: -50px;
}
.section_case {
  background: #f5f5f5;
}
.section_goal {
  height: 100vh;
  background: #40514e;
}
.section_trait {
  background: #f5f5f5;
}
.container_goal {
  display: flex;
  padding-right: 300px;
  align-items: r;
  justify-content: right;
  justify-content: space-between;
}
.container_trait {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding-left: 50px;
}
.p {
  padding: 130px;
  margin: 10px;
}
.container_text p {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  color: #000000;
}
.container_imgs img {
  width: 570px;
  height: 47%;
  object-fit: cover;
}
.boldtext {
  position: relative;
  left: 380px;
  top: 70px;
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 130px;
  margin: 0px 0;
  line-height: 107px;
  display: flex;
  align-items: center;
  color: #40514e;
}
.boldtext2 {
  align-items: center;
  color: white;
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  margin: 21px;
  display: flex;
  padding-left: 410px;
}
.boldtext2_green {
  color: #40514e;
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  margin: 21px;
  display: flex;
  padding-left: 370px;
  padding-right: 150px;
}
.container_goal_text p {
  padding: 0 0px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  color: #f5f5f5;
}
.container_goal_text h3 {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 39px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #30e3ca;
}
.container_goal_text {
  padding-left: 120px;
  margin: 10px;
}
.container_trait_text li {
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 74px;
  text-transform: lowercase;
  color: #40514e;
  list-style: none;
}
.container_trait_text ul {
  padding-left: 60px;
}
.container_right img {
  width: 86%;
  height: 100%;
  object-fit: cover;
}
.nav {
  padding-left: 150px;
  display: flex;
}
.nav,
.textlogo2 {
  color: #40514e;
  font-family: 'Merriweather', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  align-items: center;
}
.nav h3 {
  color: #40514e;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  align-items: center;
  padding-top: 6px;
  color: #f5f5f5;
  margin: 10px;
}
.nav img {
  object-fit: contain;
}

.nav .logo2 {
  padding-top: 5px;
}
@media (max-width: 700px) {
  .container_case {
    flex-wrap: wrap;
  }
  .p {
    padding: 0px;
    align-items: center;
  }
  .p p {
  }
  .boldtext {
    position: relative;
    left: 0;
    top: 0px;
    padding: 30px 0;
    font-size: 70px;
  }
  .container_imgs img {
    width: 100%;
  }
  .container_trait {
    flex-wrap: wrap;
    padding: 0;
    margin: 20px;
  }
  .container_trait_text ul {
    padding: 30px 0;
  }
  .container_trait_text h1 {
    padding: 0;
  }
  .container_goal {
    flex-wrap: wrap;
    padding: 0;
    margin: 20px;
  }
  .container_goal_text {
    padding: 0;
  }
  .nav {
    width: 100%;
    padding: 0;
    margin: 10px;
  }

  .boldtext2 {
    padding: 0;

    color: white;
  }
}
