 /* Related products */
 .section{
   text-align: center;
 }
.section h2{
 font-family: 'Merriweather', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 43px;
line-height: 72px;
padding-bottom: 40px;
margin: 0;
align-items: center;
color: #000000;
}
.firstline{
  display: flex;
}
.slider_content{
  margin: 20px;
  display: flex;justify-content: space-around;
}
.img{
width: 90%;
}