/* Related products */
.section {
  text-align: center;
  padding: 60px 0;
}
.section h2 {
  font-family: 'Merriweather', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 43px;
  line-height: 72px;
  padding-bottom: 40px;
  margin: 0;
  align-items: center;
  color: #000000;
}
.firstline {
  display: flex;
  justify-content: flex-end;
  margin-left: 100px;
}
.slider_content {
  display: flex;
}
.img {
  width: 90%;
  margin-left: 20px;
}
.content {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  justify-content: space-evenly;
  width: 100%;

}

.content_details {
  text-align: left;
  justify-content: center;
  width: 39%;
}
.content_box h3 {
  font-family: 'Merriweather', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  align-items: center;
  color: #181813;
  margin: 0px 0px;
}
.content_box h4 {
  margin: 30px 0px 10px 0px;
  font-family: 'Jacques Francois', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  align-items: center;
  color: #181813;
}
.content_box span {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  align-items: center;
  letter-spacing: 0.05em;
  color: #181813;
}
.content_figure {
  width: 45%;
}
.content_text {
  padding: 0 0px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  align-items: center;
  color: #000000;
}
.content_specs {
  display: flex;
  justify-content: left;
  padding-top: 10px;

}
.content_color {
  padding-right: 50px;
}
.content_size {
  padding-left: 110px;
}
.content_color p {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  align-items: center;
  letter-spacing: 0.05em;
  margin: 0;
  color: #181813;
}
.content_size p {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  align-items: center;
  letter-spacing: 0.05em;
  color: #181813;
}

/* input buttons  */

.brown {
  background: #764131;
  margin: 3px;
  padding: 8px;
  border-radius: 100%;
  border: 2px solid #764131;
}.brown:hover{
  transition: all 0.5s ease-in-out;
  border: 1px solid white;
}
.black {
  margin: 3px;
  padding: 8px;
  border-radius: 100%;
  background: #404040;
  border: 2px solid #404040;
}
.black:hover{
  transition: all 0.5s ease-in-out;
  border: 1px solid white;
}
.grey {
  margin: 3px;
  background: #c4c4c4;
  border: 2px solid #c4c4c4;
  padding: 8px;
  border-radius: 100%;
}
.grey:hover{
  transition: all 0.5s ease-in;
  border: 1px solid white;
}

.content_btn button {
  margin: 4px;
}

.content_xl {
  border: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
   padding: 3px 5px;
}
.content_s {
  background-color: #ffb338;
  border: 2px solid #ffb338;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  padding: 3px 5px;
}
.content_m {
  border: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  padding: 3px 5px;
}
/* shop details details */
.content_shop {
  display: flex;
  padding: 75px 0;
}
.content_qty {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  align-items: center;
  color: #181813;
  padding-top: 12px;
}
.content_span {
  margin-left: 20px;
  background: white;
  border: 0.5px solid black;
  border-radius: 40px;
  font-family: Inter;
  font-size: 16px;
  padding: 10px 15px;
  align-items: center;
  letter-spacing: 0.08em;
  color: #181813;
}
.content_shop_btn {
  margin-left: 20px;
  background: #ffb338;
  border: 2px solid #ffb338;
  border-radius: 40px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  padding: 22px 65px;
  align-items: center;
  letter-spacing: 0.08em;
  color: #181813;
}
.content_shop_btn:hover{
  cursor: pointer;
     transition: all 0.5s ease-in-out;
     background-color: #181813;
     color: white;
}
.imgbold {
  width:95%;
}
.imgnav {
  width:88%;
  position: relative;
  top: -400px;
}
.imgnav:hover {
cursor: pointer;
}
.content_share {
  display: flex;
}
.content_share p {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  align-items: center;
  letter-spacing: 0.05em;
  margin: 4px;
  padding-top: 5px;
  color: #181813;
}
.content_span span{
  padding: 0px 5px;
}
.content_contact {
  margin: 0px;
  display: flex;
  list-style: none;
  padding-left: 12px;
  text-align: center;
}
.content_contact img {
  width: 25%;
  margin: 2px;
  height: 90%;
}
.content_contact img:hover{
  cursor: pointer;
}
/* related products */
.slider_content img:hover{
  cursor: pointer;
   transition: all 0.5s ease-in-out;
     transform: scale(1.1);
}
@media (max-width:700px){
  .section{
    margin: 10px;
  }
.content_details{
  width: 100%;
}
.content_figure {
  width: 100%;
}
.imgbold {
 width: 100%;
}
.content{
  flex-wrap: wrap;
  justify-content: center;
}
.content_shop{
  flex-wrap: wrap; 
}
.content_span{
  padding: 5px 10px;
}
.content_shop_btn{
  padding: 10px 20px;
}

.firstline{
  margin: 0;
}
.slider_content img{
  margin: 0;
}
}