.blackbox {
  background-color: 
#181813;
}
.blackbottom {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid #ededed;
  padding: 100px 50px;
}
.blackbox_top {
  margin: 0 0px;
  display: flex;
  justify-content: space-around;
  padding: 23px 20px;
}
.blackbox_line {
  width: 2px;
  height: 90px;
  background-color: #ededed;
}
.blackbox_input {
  background: #292929;
  border-radius: 20px;
  padding: 9px 2px;
  font-size: 12px;
  font-family: Inter;
  color: #f9f9f9;
  border: #292929;
  width: 220px;
  text-align: center;
}
.blackbox_topright {
  padding-top: 19px;
  display: flex;
  margin-left: 350px;
  padding-left: 0px;
  align-items: flex-start;
  width: 20%;
  justify-self: right;
  justify-content: flex-start;
}

.blackbox_topleft {
  margin-right: 0px;
  display: flex;
  padding-top: 15px;
}
.blackbox_topleft p {
  color: #f2f2f2;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}
.blackbox_form {
  padding: 10px;
}
.blackbottom_text {
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  font-family: Inter;
  padding-top: 20px;
  color: #f2f2f2;
}
.blackbottom_text a {
  align-items: center;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  font-family: Inter;
  color: #f2f2f2;
}
.blackbox_toptext {
  color: #f2f2f2;
  padding-top: 0px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.instagram1 {
  background-color: white;
  height: 14px;

  padding: 7px;
  border-radius: 50%;
  margin: 10px;
}
.social{
    margin: 10px;
}
