.section {
  text-align: center;
}
.container1 {
  display: flex;
}
.firstline {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.section h2 {
  font-family: 'Merriweather', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 43px;
  line-height: 72px;
  padding-bottom: 40px;
  margin: 0;
  align-items: center;
  color: #000000;
}
.btn {
  transition: all 0.5s ease;
  border: none;
  font-family: 'Inter', sans-serif;
  background: #ffb338;
  border-radius: 30px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 17px 38px;
  font-style: normal;
  font-size: 18px;
  cursor: cursor;
  margin: 40px 0px;
}
.btn:hover {
  color: #ffffff;
  background: #222222;
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
  cursor: pointer;
}

.img {
  object-fit: cover;
  max-block-size: 100%;
  border-radius: 10px;
  display: inline-block;
  margin: 0 0 1em;
  width: 90%;
}
.img:hover {
  border: 3px solid #ffb338;
  cursor: pointer;
}

.slider_costbox {
  display: flex;
  justify-content: center;
  position: relative;
  top: -95px;
  width: 90%;
  left: 19px;
  background: linear-gradient(0deg, #181813 0%, rgba(24, 24, 19, 0) 174.29%);
  border-radius: 0px 0px 10px 10px;
}
.slider_costbox h3 {
  font-family: Jacques Francois;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  align-items: center;
  text-align: right;
  color: #ffffff;
}
.cart img {
  position: relative;
  left: 90px;
  top: 0px;
  text-align: right;
}
.cart i {
  color: #f7f7f7;
  position: relative;
  left: 58px;
  top: -15px;
}

/* Bamboo component */
.b_section {
  text-align: center;
  background: #f7f7f7;
  padding: 100px 0;
}
.b_section h3 {
  font-family: 'Merriweather', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 54px;
  text-align: center;
  align-items: center;
  color: #181813;
}

.b_container {
  padding-top: 50px;
  gap: 0px;
  margin: 0 60px;
  display: flex;
}
.section_list {
  list-style: none;
  display: flex;
  justify-content: center;
}
.section_list li {
  padding: 0 0px;
  font-family: 'Inter', sans-serif;
  margin: 0px 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 35px;
  align-items: center;
  letter-spacing: 0.05em;
  color: #181813;
}

.section_list li:hover {
  border-bottom: 3px solid #ffb338;
  cursor: pointer;
}
.item_img {
  width: 100%;
  object-fit: cover;
  max-block-size: 100%;
  border-radius: 10px;
  transition: 0.25s ease-in-out;
}
.item_img:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.item_slider {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
.item_btn {
  transition: all 0.5s ease;
  border: none;
  background: #ffb338;
  border-radius: 30px;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 17px 38px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 18px;
  cursor: cursor;
  margin: 40px 0px;
  justify-content: center;
}
.item_img2 {
  margin: 0px 60px;
  width: 87%;
}
.item_img3 {
  position: relative;
  top: -19px;
  left: -40px;
  height: 7px;
}

@media (max-width: 700px) {
  .container1 {
    display: flex;
    padding: 0 0px;
  }
  .section_list {
    margin: 0;
    padding: 0;
  }
  .section_list li {
    margin: 5px;
  }
  .b_container {
    margin: 0;
  }
  .item_slider {
    margin: 10px;
  }
}
