.nav {
  background: rgba(24, 24, 19, 0.7);
  mix-blend-mode: multiply;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  opacity: 1px;
  padding: 20px 0;
  position: relative;
  z-index: 30;
  
}

.content {
  display: flex;
  justify-content: space-around;
}
.content_logo {
  margin: 0px 200px;
  padding-left: 110px;
}
.content_shop a {
  padding: 0 20px;
}
.content_shopicon {
  color: white;
}
.content_shopicon1{
    color: white;
    display: block;
}
.content_shopicon1, .fas-times{
transform: rotate(360deg);
transition: all 0.2s ease-in-out;
}
.content_shopicon1, .fas-bars{
transform: rotate(180deg);
transition: all 0.2s ease-in-out;
}
.content_menulist{
  flex-direction: column;
  list-style: none;
  position: absolute;
   background: rgba(24, 24, 19, 0.7);
  left: 150px;
  top: 91px;
  margin: 0;
  padding: 90px 100px;
}
.content_menulist li a{
padding: 30px 5px;
font-weight: 300px;
color: white;
cursor: pointer;
}
.content_menulist li {
text-align: center;
width: 100%;
margin-bottom: 40px;
z-index: -1;
}
.content_menulist li a:hover{
  font-weight: 400px;
font-size: 20px;
}
.content_menulist_close{
  right: -100%;
  transition: all 0.5 ease-in-out;
}