.container_case{
    display: flex;
}
.container_goal{
    display: flex;
}
.container_trait{}
.section_trait{
    display: flex;
}
.section_goal{

}
.section_case{

}
.nav{

}
.boldtext{

font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 96px;
line-height: 145px;
display: flex;
align-items: center;
color: #40514E;
}